<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>davecal</string>
    <key>CFBundleDisplayName</key>
    <string>davecal</string>
    <key>CFBundleIdentifier</key>
    <string>nz.co.davecal</string>
    <key>CFBundleExecutable</key>
    <string>davecal</string>
    <key>CFBundleIconFile</key>
    <string>davecal</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>davecal shows and edits the events in your calendars.</string>
</dict>
</plist>
